<%= form_with(model: @tweet, url: web_tweets_path) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Tweet' %>
  </div>
<% end %>
